@use "/src/scss/config" as *;

:host {
  display: block;
}

.joy-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 12px;

  @include respond-to(tablet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include respond-to(desktop) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
